@import	"_imports.less";
body {
		padding-top: 50px;
}
body {
  background: radial-gradient(#000 15%, rgba(0, 0, 0, 0) 16%) 0 0,radial-gradient(#000 15%, rgba(0, 0, 0, 0) 16%) 8px 8px,radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 0 1px,radial-gradient(rgba(255, 255, 255, 0.1) 15%, rgba(0, 0, 0, 0) 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
} 
h1,h3{
	color: #FFF;
}