extends layout

block content
	.container
		//- .alert.alert-danger.alert-dismissible.fade.in(role='alert')
		//- 	button.close(type='button', data-dismiss='alert', aria-label='Close')
		//- 			span(aria-hidden='true') &times;
		//- 		h4(id='oh-snap!-you-got-an-error!')
		//- 			| Oh snap! You got an error!
		//- 			a.anchorjs-link(href='#oh-snap!-you-got-an-error!')
		//- 				span.anchorjs-icon
		//- 		p
		//- 			| Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
		//- 		p
		//- 			button.btn.btn-danger(type='button') Take this action
		//- 			button.btn.btn-default(type='button') Or do this
		.row
			.col-xs-12
				h1 Levels
				h3 Carburant level
				.progress
					#fuel.progress-bar.progress-bar-danger.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 0.5%')
				h3 Oil level
				.progress
					#oil.progress-bar.progress-bar-danger.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 0.5%')
				h3 Windshield washer fluid
				.progress
					#windshield.progress-bar.progress-bar-danger.progress-bar-striped.active(role='progressbar', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100', style='width: 0.5%')
		.row
			.col-xs-12
				h1 Temperatures
					.row.temperatures
						.col-xs-6
							.circle#engine
								strong
							span Engine
						.col-xs-6
							.circle#outside
								strong
							span Outside
block footer
	script(src='./javascripts/libs/circle-progress.js')
	script(src='./javascripts/index.js')