doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='wlf')
    link(rel='icon' href='./images/favicon.ico')
    title Tires Stock
    //- Bootstrap core CSS
    link(rel='stylesheet', href='./stylesheets/style.css')
    block header
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Tires Stock
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Tires Type
                span.caret
              ul.dropdown-menu
                li
                  a(href='winter') Winter
                li
                  a(href='summer') Summer
                li
                  a(href='agricultural') Agricultural              
                li.divider(role='separator')
                li
                  a(href='page_orders') Orders
                li
                  a(href='page_customers') Customers
                li
                  a(href='page_order_items') Order Items  
                li.dropdown-header Nav header
            li
              a#settings(data-toggle='modal' data-target='#settings_modal') Settings
            li
              a(href='orders') Place order
        .nav-collapse
    .modal.fade.bs-example-modal-lg#settings_modal(tabindex='-1', role='dialog', aria-labelledby='settings_modal')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title Settings
                .modal-body
                    form
                        .form-group.tva
                            label.control-label(for='tva') TVA
                            input#tva.form-control(type='text', value='')
                        .form-group.adaos
                            label.control-label(for='adaos') Adaos Comercial
                            input#adaos.form-control(type='text', value='')
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button#send_settings.btn.btn-primary(type='button') Save changes
    block content

    footer
    //-Bootstrap core JavaScript
    script(src='./min_javascripts/jquery_bootstrap.js')
    block footer
