<div class="row">
  <div class="col-12">
    <div class="card text-white bg-dark" style="max-width: 100%;margin-bottom: 5px;">
      <div class="card-header">User Profile</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form [formGroup]="authForm">
      <div class="form-group">
        <fieldset disabled="">
          <label for="username">Username</label>
          <input formControlName="username" [(ngModel)]="username" type="email" class="form-control" id="username" placeholder="Enter username">
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label for="password">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
        </fieldset>
      </div>
      <button type="submit" class="btn btn-primary" (click)="change()">Change Password</button>
      <button type="button" class="btn btn-danger" (click)="delete()">Delete User</button>
    </form>
  </div>
</div>
