<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Activity</h1>
    </div>
</div>
<div class="row">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" ng-repeat="patient in patients" is-open="status2.open">
            <uib-accordion-heading>
                <span ng-click='viewTodayActivity(patient)'>
                    {{patient.name}}
                 <i class="pull-right glyphicon " ng-class="{ 'glyphicon-chevron-down': status2.open, 'glyphicon-chevron-right': !status2.open} "></i>
                 </span>
            </uib-accordion-heading>
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Today Activity">
                    <hr>
                    <div class="col-md-8 ">
                        <p class="input-group ">
                            <input type="text " class="form-control " uib-datepicker-popup="{{format}} " ng-model="dt " is-open="popup1.opened " datepicker-options="dateOptions " ng-required="true " close-text="Close " alt-input-formats="altInputFormats " />
                            <span class="input-group-btn ">
                         <button type="button " class="btn btn-default " ng-click="open1() "><i class="glyphicon glyphicon-calendar "></i>
                         </button>
                        </span>
                        </p>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <button type="button " ng-click="viewDateActivity(patient,dt) " class="btn btn-primary ">
                            <i class="glyphicon glyphicon-eye-open "></i> See activity
                        </button>
                    </div>
                    <div class="col-lg-12 ">
                        <div class="chartArea ">
                            <center>
                                <i class="fa fa-male fa-4x " aria-hidden="true "></i>
                                <br> {{patient.activity[patient.activity.length-1].steps}}
                                <br>
                                <i class="fa fa-heartbeat fa-4x " aria-hidden="true "></i>
                                <br>{{patient.activity[patient.activity.length-1].heartRate}}
                                <br>
                                <div class="col-md-6 ">
                                    <canvas id="{{patient.id}}steps"></canvas>
                                </div>
                                <div class="col-sm-6 ">
                                    <canvas id="{{patient.id}}heartRate"></canvas>
                                </div>
                            </center>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Timeline" select="viewMouthActivity(patient)">
                    <hr>
                    <h2 class="text-center">Mouth Overview</h2>
                    <div class="col-lg-12 ">
                        <div class="chartArea ">
                            <center>
                                <div class="col-md-6 ">
                                    <canvas id="{{patient.id}}mouthSteps"></canvas>
                                </div>
                                <div class="col-sm-6 ">
                                    <canvas id="{{patient.id}}mouthHeartRate"></canvas>
                                </div>
                            </center>
                        </div>
                    </div>
                </uib-tab>
               <!--  <uib-tab index="2" heading="Something else here">Something else here</uib-tab>
                <uib-tab index="3" heading="Something else here">Something else here</uib-tab>
                <uib-tab index="4" heading="Something else here">Something else here</uib-tab>
                <uib-tab index="5" heading="Something else here">Something else here</uib-tab> -->
            </uib-tabset>
        </div>
    </uib-accordion>
</div>
