<p-growl [autoZIndex]="true" [baseZIndex]="99999999"></p-growl>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Types of Files</h3>
    <p-chart type="pie" [data]="chartData"></p-chart>
  </div>
  <div class="col-md-6">
    <h3>Last Added Files</h3>
    <div id="tableComponent">
      <div *ngIf="!isDataAvailable" style="text-align: center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </div>
      <div *ngIf="isDataAvailable">
        <app-tableview #tableview [tableInput]="tableInput" [options]="tableViewOptions"></app-tableview>
      </div>
    </div>
  </div>
</div>
